<div class="p-6 pb-0 absolute w-full flex justify-center">
  <div id="'headerInner" class="w-full max-w-6.5xl flex justify-between">
    <app-personally-logo></app-personally-logo>
    <div>
      <a routerLink="/login"
        ><button class="h-12 w-28 border-3 border-black px-4 font-light mr-4">
          Login
        </button></a
      >
      <a routerLink="/signup"
        ><button class="h-12 bg-black text-white px-4 font-light">
          Get Started
        </button></a
      >
    </div>
  </div>
</div>
