<div class="flex pr-16">
  <app-sidebar></app-sidebar>
  <div class="flex-1 max-w-3.5xl">
    <app-page-header
      [showButton]="false"
      headerText="Responses"
    ></app-page-header>
    <div>
      <div class="flex justify-between my-3">
        <div class="flex items-center">
          <p class="font-bold">John Doe</p>
          <p class="ml-2">(jacobewhitedev@gmail.com)</p>
          <p class="ml-4">Totally agree with you Jacob! Very cool.</p>
        </div>
        <p class="italic">2:21 am</p>
      </div>
      <hr class="border border-black" />
    </div>
    <div>
      <div class="flex justify-between my-3">
        <div class="flex items-center">
          <p class="font-bold">John Doe</p>
          <p class="ml-2">(jacobewhitedev@gmail.com)</p>
          <p class="ml-4">Totally agree with you Jacob! Very cool.</p>
        </div>
        <p class="italic">2:21 am</p>
      </div>
      <hr class="border border-black" />
    </div>
    <div>
      <div class="flex justify-between my-3">
        <div class="flex items-center">
          <p class="font-bold">John Doe</p>
          <p class="ml-2">(jacobewhitedev@gmail.com)</p>
          <p class="ml-4">Totally agree with you Jacob! Very cool.</p>
        </div>
        <p class="italic">2:21 am</p>
      </div>
      <hr class="border border-black" />
    </div>
  </div>
</div>
