<app-top-bot-landing
  headerText="The email platform for connecting, personally."
  description="Write it once, share forever."
  [showHeader]="true"
></app-top-bot-landing>
<app-info-landing
  imageOne="../../assets/people/Curly.svg"
  imageTwo="../../assets/dot-arrays/purple-dot-array.svg"
  imageThree="../../assets/dot-arrays/green-dot-array.svg"
  imageFour="../../assets/people/Baldy.svg"
  imageOneClasses="-ml-3 relative bottom-4"
  imageTwoClasses="mr-16"
  imageThreeClasses="ml-10"
  imageFourClasses="mr-16"
  textOne="Reshare your content with newer people."
  textTwo="New connections would love to know your recent history. Write emails that you can share in the future."
  [leftIsTitle]="true"
  [comingSoon]="true"
></app-info-landing>
<app-info-landing
  bgColor="#fefefe"
  [minHeight]="minHeightTopBotEnum"
  textOne="Create and share insightful content once. Auto send to candidates, afterwords."
  textTwo="Stay top of mind."
  [rightIsTitle]="true"
></app-info-landing>
<app-info-landing
  textOne="Connect with your network."
  textTwo="Personally will send the best performing emails to your customers the moment they get added to your mailing list."
  [leftIsTitle]="true"
  imageOne="../../assets/people/Sally.svg"
  imageTwo="../../assets/dot-arrays/blue-dot-array.svg"
  imageThree="../../assets/dot-arrays/pink-dot-array.svg"
  imageFour="../../assets/people/Bethany.svg"
  imageOneClasses="relative bottom-2"
  imageTwoClasses="mr-20"
  imageThreeClasses="ml-28"
  imageFourClasses="relative bottom-24 right-14"
></app-info-landing>
<app-top-bot-landing
  headerText="It's free."
  description="With premium features available, in app."
  [showCopyright]="true"
></app-top-bot-landing>
