<div class="flex pr-16">
  <app-sidebar></app-sidebar>
  <div class="flex-1">
    <app-page-header
      headerText="People"
      linkText="Add Person"
      imgLink="../../assets/people-page-icons/white-person-icon.png"
      route="/people/add"
      [showButton]="true"
    ></app-page-header>
    <div class="max-w-3.5xl">
      <div class="my-8 flex">
        <input
          (keyup)="filterPeopleArr($event)"
          class="border-3 border-black w-96 h-12 focus:border-purple outline-none pl-3 placeholder-lavender text-sm"
          type="text"
          name="search"
          id="search"
          placeholder="Search by name or email..."
        />
        <label
          for="search"
          class="bg-black w-16 flex justify-center items-center"
        >
          <img
            class=""
            src="../../assets/people-page-icons/search-icon.png"
            alt=""
          />
        </label>
      </div>
      <hr class="mt-8 border border-black" />
      <div class="mt-4 mb-8 text-xs font-bold flex">
        <p>{{ peopleInfoArr.length }} people</p>
        <p class="ml-4">{{ numOfSubs }} Subscribed</p>
      </div>
      <a
        *ngFor="let people of filteredPeopleList"
        routerLink="/people/{{ people.name }}"
        class="flex justify-between mb-3 hover:bg-violet-200 transition-all hover:rounded-sm"
      >
        <div class="flex items-center">
          <p class="font-bold">{{ people.name }}</p>
          <p class="ml-2">({{ people.email }})</p>
          <p *ngIf="!people.subscribed" class="text-xs text-gray-500 ml-4">
            Unsubscribed
          </p>
        </div>
        <p>{{ people.dateAdded }}</p>
      </a>
      <p *ngIf="filteredPeopleList.length === 0" class="text-center">
        No people found :(
      </p>
    </div>
  </div>
</div>
