<div class="flex pr-16">
  <app-sidebar></app-sidebar>
  <div class="flex-1">
    <app-page-header
      headerText="Build a better dev team (placeholder)"
      imgLink="../../assets/people-page-icons/menu-icon.png"
      [showMenu]="true"
      [isBroadcast]="true"
    ></app-page-header>
    <div class="max-w-3.5xl">
      <div class="flex my-4">
        <span class="flex"
          ><img
            class="self-center mr-2"
            src="../../../assets/broadcasts-page-icons/id-publish-date-icon.png"
            alt="Publish date icon"
          />
          <p>Aug 3, 2000</p>
        </span>
        <span class="flex ml-10"
          ><img
            class="self-center mr-2"
            src="../../../assets/broadcasts-page-icons/number-sent-icon.png"
            alt="Publish date icon"
          />
          <p>35 People</p>
        </span>
        <span class="flex ml-10"
          ><img
            class="self-center mr-2"
            src="../../../assets/broadcasts-page-icons/id-publish-date-icon.png"
            alt="Publish date icon"
          />
          <p>4 Responses</p>
        </span>
      </div>
      <hr class="mt-4 border border-black" />
      <div class="max-w-2.5xl broadcast-content">
        <p>
          Last week, I launched Relabel. After 3 years of investing my hard
          earned time into it. I’ve also started working on the marketing site
          to try and take it to the next level.
          <a href="/">Check it out and let me know what you think!</a>
        </p>
        <h2>Marketing Website</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet
          consectetur adipiscing elit pellentesque habitant. Turpis cursus in
          hac habitasse platea dictumst quisque.
        </p>
        <h2>The Journey Continues</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet
          consectetur adipiscing elit pellentesque habitant. Turpis cursus in
          hac habitasse platea dictumst quisque.
        </p>
      </div>
    </div>
  </div>
</div>
