<div class="flex pr-16">
  <app-sidebar></app-sidebar>
  <div class="flex-1">
    <app-page-header
      headerText="Broadcasts"
      linkText="Create"
      imgLink="../../assets/broadcasts-page-icons/white-broadcasts-icon.png"
      route="/broadcasts/create"
      [showButton]="true"
    ></app-page-header>
    <div class="mt-6 max-w-3.5xl">
      <div>
        <p class="text-2xl">Devs from outer space</p>
        <div class="mt-4 text-xs font-bold flex">
          <span class="flex">
            <img
              class="self-center"
              src="../../assets/broadcasts-page-icons/publish-date-icon.png"
              alt=""
            />
            <p class="ml-2">Jan. 3, 2022</p>
          </span>
          <span class="flex ml-6">
            <img
              class="self-center"
              src="../../assets/broadcasts-page-icons/sent-to-icon.png"
              alt=""
            />
            <p class="ml-2">35 People</p>
          </span>
          <span class="flex ml-6">
            <img
              class="self-center"
              src="../../assets/broadcasts-page-icons/responses-bc-icon.png"
              alt=""
            />
            <p class="ml-2">4 Responses</p>
          </span>
        </div>
        <p class="max-w-2.5xl my-8">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
          consectetur sit amet urna ut feugiat. Proin ut sem eleifend, semper
          lectus ut, mattis libero. Mauris a quam a enim commodo pellentesque.
          Nunc viverra est non lacus tincidunt tempus. Pellentesque non pretium
          tellus. Phasellus quis dignissim justo. [...]
        </p>
        <a
          class="border-3 rounded border-black w-28 h-12 flex justify-center items-center hover:bg-black hover:text-white transition-all"
          routerLink="/broadcasts/id"
          >View</a
        >
        <hr class="my-8 border border-black" />
      </div>
      <div class="mt-6 max-w-3.5xl">
        <div>
          <p class="text-2xl">Devs from outer space</p>
          <div class="mt-4 text-xs font-bold flex">
            <span class="flex">
              <img
                class="self-center"
                src="../../assets/broadcasts-page-icons/publish-date-icon.png"
                alt=""
              />
              <p class="ml-2">Jan. 3, 2022</p>
            </span>
            <span class="flex ml-6">
              <img
                class="self-center"
                src="../../assets/broadcasts-page-icons/sent-to-icon.png"
                alt=""
              />
              <p class="ml-2">35 People</p>
            </span>
            <span class="flex ml-6">
              <img
                class="self-center"
                src="../../assets/broadcasts-page-icons/responses-bc-icon.png"
                alt=""
              />
              <p class="ml-2">4 Responses</p>
            </span>
          </div>
          <p class="max-w-2.5xl my-8">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
            consectetur sit amet urna ut feugiat. Proin ut sem eleifend, semper
            lectus ut, mattis libero. Mauris a quam a enim commodo pellentesque.
            Nunc viverra est non lacus tincidunt tempus. Pellentesque non
            pretium tellus. Phasellus quis dignissim justo. [...]
          </p>
          <a
            class="border-3 rounded border-black w-28 h-12 flex justify-center items-center hover:bg-black hover:text-white transition-all"
            routerLink="/broadcasts/id"
            >View</a
          >
          <hr class="my-8 border border-black" />
        </div>
      </div>
    </div>
  </div>
</div>
