<div
  id="pageNotFoundContainer"
  class="h-screen bg-black flex justify-center items-center"
>
  <img
    class="fixed top-0 left-0"
    src="../../assets/dot-arrays/404-green-dot-array.png"
    alt="Dot array graphic green"
  />
  <div id="textAndButtonContainer" class="text-white">
    <h1 class="text-7xl font-bold">404</h1>
    <p class="text-2.5xl font-bold">Page not found.</p>
    <p class="text-base">This page has moved or no longer exists.</p>
    <a routerLink="/">
      <button
        class="bg-purple h-12 w-48 mt-6 hover:shadow-backToHome transition-all"
      >
        Go to homepage
      </button></a
    >
  </div>
  <img
    class="fixed right-0 bottom-52"
    src="../../assets/dot-arrays/404-violet-dot-array.png"
    alt="Dot array graphic violet"
  />
</div>
