<div class="mt-6 max-w-3.5xl">
  <div class="flex justify-between">
    <h1 [ngClass]="isBroadcast ? 'text-4.5xl' : 'text-3.5xl'">
      {{ headerText }}
    </h1>
    <a
      *ngIf="showButton"
      class="flex rounded bg-black text-white px-6 py-3 hover:scale-105 transition-all"
      routerLink="{{ route }}"
    >
      <img class="self-center mr-2" src="{{ imgLink }}" alt="Link icon" />
      <p>{{ linkText }}</p>
    </a>
    <button class="px-3" *ngIf="showMenu">
      <img src="{{ imgLink }}" alt="" />
    </button>
  </div>
  <hr class="mt-4 border border-black" />
</div>
