<div class="mt-10 pl-7 min-w-sidebar">
  <div class="flex transition-all duration-100">
    <img
      class="self-center"
      src="../../assets/dot-arrays/logo-for-username.png"
      alt="Dot array graphic"
    />
    <p class="ml-3">{{ usersFirstName }}</p>
  </div>
  <div class="mt-12">
    <a
      *ngFor="let el of sidebarInfoArr"
      class="flex mb-5 items-center"
      routerLink="{{ el.route }}"
    >
      <img class="self-center" src="{{ el.icon }}" alt="{{ el.text }} icon" />
      <p
        [ngClass]="
          currentRoute.includes(el.text.toLowerCase())
            ? 'font-bold'
            : 'opacity-60'
        "
        class="pl-3 hover:opacity-100 transition-all duration-75"
      >
        {{ el.text }}
      </p>
      <p
        *ngIf="false"
        class="text-xs ml-2 bg-purple rounded h-5 w-5 text-white flex items-center justify-center"
      >
        5
      </p>
    </a>
  </div>
  <div class="flex items-center mt-7">
    <img
      src="../../assets/sidebar-icons/logout-icon.png"
      alt="logout icon"
      class="w-3 self-center"
    /><button
      (click)="logMeOut()"
      class="hover:opacity-100 pl-3 opacity-60 transition-all duration-100"
    >
      Logout
    </button>
  </div>
</div>
